@import 'footer.scss';
@import 'navbar.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.font-type1{
    font-family: 'Pacifico';
}

.font-type2{
    font-family: 'Bebas Neue';
}
body {
    background: url("background.svg");
    background-color: #000;
    
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
}
img {
    width: 200px;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;    
    gap: 30px;
    flex-flow: row wrap;
    justify-content: center;
    
}

.col1, .col2, .col3{
    max-width: 420px;
    flex-grow: 1;
}

header {

    display: flex;

    align-items: flex-end;
    text-align: center;
    img {
        width: 100%;
    }

    p {
        margin-bottom: 20px;
    }
}
h1 {
    color: #fff;
    text-decoration: underline;
    line-height: 60px;
    font-size: 3rem;

    margin-top: 60px;
    margin-bottom: 30px;
    text-decoration: underline orange;
    text-transform: uppercase;
}
h1::first-line {
    color: #ff5e00;
    text-decoration: none;
    font-family: 'Pacifico';
    
}

p {
    color: #fff;
}

.pizza-heading {
    position: relative;
    top: -30px;
    padding: 10px;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 3rem;
    span {
        color: #ff5e00;
        text-transform: uppercase;
        font-family: 'Bebas Neue';
        letter-spacing: 3px;
    }
}
.hamburger-heading {
    padding: 10px;
    position: relative;
    top: -40px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;
    span:first-child {
       
    }

    span:last-child {
      
      
        font-family: 'Bebas Neue';
       
       
    }
}




.sandwich-heading {
    padding: 10px;
    margin-top: 40px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    background-color: #000;
    font-family: 'Dancing Script';
    font-size: 3rem;
}

.col2 .content {
    background-color: black;
    padding: 10px 40px;
    color: #fff;

   
    border-radius: 20px;
    border-collapse: separate;
    border-spacing: 30px;
    border:  5px #ff5e00 solid;
    .title, .price{
        color: #ff5e00; 
        
    }
    .price{
       
    }
    
}
.content {
    padding: 0 40px;
}

.col3 {
    position: relative;
    top: 0;
}

.image {
    width: 250px;
    height: 250px;
    border: 15px solid #ff5e00;
    border-radius: 50%;
    margin: 0 auto;

    background-size: cover;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.pizza {
    background-image: url("pizza.jpg");
    width: 230px;
    height: 230px;
}
.hamburger {
    background-image: url("hamburger.png");
}
.sandwich {
    width: 280px;
    height: 280px;
    background-image: url("sandwich.jpg");
}

.menu-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "title title price"
        "description description price";
    align-items: center;
    align-content: space-between;
}

.title {
    grid-area: title;
    align-self: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.description {
    grid-area: description;
}

.price {
    grid-area: price;
    text-align: right;
    
    font-weight: 700;

    align-self: flex-end;
    span{
        
        
        
    }
    
    
}








.col1 .price span, .col3 .price span{
    border-radius: 50%;
    background-color: #ff5e00;
    padding: 15px;
    
    
}

.col1 .content, .col3 .content{
    background: #fdf1d9cc;
    border-radius: 20px;
}


.content{
    padding-bottom: 40px;
    
}


@import 'media.scss';



.wrapper{
    
    
}